*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
}
.Logo{
  background-image: url('../assets/logo.png');  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 1rem;
}
.navbar-left .Logo{
    font-size: 1rem;
    font-size: bold;
    color: white;
    text-decoration: none;
}
.navbar-center .nav-links{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-center .nav-links li{
    margin: 1rem;
}
.navbar-center .nav-links li a{
    color: white;
    text-decoration: none;
}
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-right .cart-icon,
.navbar-right .user-icon {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    position: relative;
}
.navbar-right .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}